/* 头部 */
#top {
	position:relative;
	height:67px;
	background:url(../Images/AM_t3.jpg) repeat-x;
	overflow:hidden;
}
#top .tleft, #top .tright {
	position:absolute;
	top:0;
	height:67px;
	background:url(../Images/AM_t1.jpg) no-repeat;
}
#top .tleft {
	left:0;
	width:373px;
}
#top .tright {
	right:0;
	width:220px;
	background-position:right 0;
}
#top .tright .lj{
	margin-top:15px;
}
#top .tright .sj{
	color:#19577E;
	font-family:Tahoma, Geneva, sans-serif;
	margin:16px 0 0 8px;
}
#top .tright a {
	display:inline-block;
	color:#9BC3DF;
	text-decoration:none;
}
#top .tright a:hover {
	text-decoration:underline;
}
#top .tright .asy{
	margin-left:28px;
}
#top .tright .atc{
	margin-left:24px;
}
#top .tcenter {
	margin:0 220px 0 373px;
	height:67px;
}
#top .tcenter span {
	color:#19577E;
	display:inline-block;
	margin-top:46px;
	vertical-align:middle;
}
#top .tcenter span img {
	width:16px;
	height:16px;
	margin-right:4px;
	vertical-align:middle;
}

#center{
	position:relative;
}
#center .cl,#center .cr{
	position:absolute;
	top:0;
	height:100%;
}
#center .cl{
	left:0;
	width:168px;
}
#center .cl a,#bbs a{
	color:#48795B;
	text-decoration:none;
}
#center .cl a:hover,#bbs a:hover{
	text-decoration:underline;
}
#center .cl .logo{
	height:100px;
	background:url(../Images/AM_mlogo.jpg) no-repeat center;
}
#center .cl .menus{
	position:absolute;
	margin-left:8px;
	width:151px;
	background:#FFF;
	border:1px #B7C7BE solid;
}
#mm{
	background:url(../Images/AM_s3.png) 0 25px;
}
#mm h3{
	color:#48795B;
	height:25px;
	line-height:25px;
	font-size:12px;
	text-align:center;
	background:url(../Images/AM_s1.png) repeat-x;
	border-bottom:1px #B7C7BE solid;
}
#mm div{
	height:24px;
	line-height:24px;
	text-align:center;
}
#menus {
	overflow:hidden;
}
#menus h3{
	color:#48795B;
	font-size:12px;
	padding:4px 0 4px 32px;
	font-weight:normal;
	cursor:pointer;
	background:url(../Images/menus.png) no-repeat;
	border-width:1px 0;
	border-color:#B7C7BE;
	border-style:solid;
}
#menus span{
	position:relative;
	display:none;
	color:#48795B;
	font-family:"\5B8B\4F53";
	margin:5px 0 5px 18px;
	height:16px;
}
#center .cl .sq{
	position:absolute;
	left:161px;
	cursor:pointer;
	width:6px;
}
#center .cr{
	right:0;
	top:0;
	width:220px;
	margin-top:6px;
}
#center .cr h3{
	color:#48795B;
	font-size:12px;
	height:25px;
	width:205px;
	margin:0 auto;
	line-height:25px;
	text-align:center;
	border:1px #B7C7BE solid;
	background:url(../Images/AM_s1.png) repeat-x;
}
#center .cr div{
	background:#FFF;
	width:205px;
	margin:0 auto;
	border-width:0 1px;
	border-color:#B7C7BE;
	border-style:solid;
}
#bbs span,#mails span{
	width:100%;
	padding:3px 0;
	font-family:"\5B8B\4F53";
	display:inline-block;
	border-bottom:1px #DDD dashed;
}
#bbs img,#mails img{
	margin:0 5px;
	vertical-align:middle;
}
#rl{
	color:#48795B;
	font-family:Tahoma, Geneva, sans-serif;
}
#rl a{
	display:block;
	height:20px;
	line-height:20px;
	color:#48795B;
	text-decoration:none;
}
#rl a:hover{
	background:#B9EDCE;
}
#center .cc{
	height:100%;
	margin:0 220px 0 168px;
}
#center .tp{
	height:46px;
	background:url(../Images/AM_lxnw.jpg) no-repeat;
}
#mains{
	background:#FFF;
	border:1px #B7C7BE solid;	
}
#nav{
	height:27px;
	background:url(../Images/AM_s1.png) repeat-x;
	border-bottom:1px #B7C7BE solid;
}
#nav a{
	display:inline-block;
	margin:7px 8px 0 12px;
	color:#48795B;
	font-weight:700;
	text-decoration:none;
}
#nav a:hover{
	color:#004040;
}
#main{
	
}
#main iframe{
	height:100%;
	width:100%;
	border:none;
}

/* 版权 */
#copyright{
	color:#47785A;
	height:28px;
	line-height:22px;
	text-align:center;
	background:url(../Images/AM_w.gif) repeat-x 0 bottom;
}
#copyright a{
	color:#47785A;
	text-decoration:none;
}
#copyright a:hover{
	text-decoration:underline;
}
#xgmm{padding:12px 14px;}
#xgmm .span{display:block; margin:0 0 2px 0; text-align:right}
#xgmm input{border:1px #b7c7be solid;width:160px; padding:3px}
.input{
	border:1px #B7C7Be solid;
}