body {
	margin:0;
	color:#48795B;
	font-size:12px;
	background:#FFF url(../Images/AM_s3.png) repeat-x;
}
img{
	border:none;
}
form {
	margin:0;
	padding:0;
}
select option{
	font-size:12px;
	font-family:"\5B8B\4F53";
}
a {
	color:#48795B;
	text-decoration:none;
}
a:hover {
	text-decoration:underline;
}
.table {
	width:98%;
	font-size:12px;
	margin:10px auto 0 auto;
	font-family:Tahoma, Geneva, sans-serif;
}
.th {
	color:#345A40;
	font-family:"\5B8B\4F53";
	height:24px;
	line-height:24px;
	background:#89DDAB url(../Images/AM_th.png) repeat-x;
	border:1px #55B47A solid;
	text-align:left;
}
.th a {
	color:#345A40;
	text-decoration:none;
}
.th a:hover {
	text-decoration:underline;
}
.th img {
	vertical-align:middle;
	width:16px;
	height:16px;
	margin:0 4px;
}
.thbt {
	font-weight:700;
	background:#E9FAEF;
}
.td {
	height:24px;
	padding:0 2px;
	border-bottom:1px #DDD dashed;
}
.more {
	height:24px;
	padding-right:2px;
	font-family:'\5B8B\4F53';
}
/* 分页 */
.page {
	width:98%;
	height:24px;
	margin:0 auto;
	line-height:24px;
	text-align:right;
	font-family:Tahoma, Geneva, sans-serif;
}
.page input {
	height:14px;
	ime-mode:disabled;
	border:1px #B7C7BE solid;
}
.page span .inputimg{height:19px;border:none;}
/* 搜索 */
#sousuo {
	width:98%;
	margin:12px auto 0;
	text-align:right;
}
#sousuo input {
	border:1px #B7C7Be solid;
}
#sousuo select{
	border:1px #B7C7Be solid;
}
#sousuo .btnss {
	display:inline-block;
	width:40px;
	height:20px;
	font-size:12px;
	font-family:'宋体';
	background:#84dba8;
	border:1px #55b47a;
	color:#345a40;
	padding:2px 0;
}
.input{
	border:1px #B7C7Be solid;
}
.btn {
	width:40px;
	height:20px;
	font-size:12px;
	font-family:'\5B8B\4F53';
	background:#84dba8;
	border:1px #55b47a;
	color:#345a40;
	padding:2px 0;
}
em{color:#F00;}